<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HVAC | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+12) 345 678 910</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <!--  수정  -->
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'map' %}">충전소 찾기</a></li>
                                <li class="active"><a href="{% url 'car' %}">전기차 정보</a></li>
                                <li><a href="#">구매 및 지원</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">국고 보조금</a></li>
                                        <li><a href="{% url 'car_details' %}">지자체 보조금</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'question_list' %}">게시판</a></li>
                                <li><a href="{% url 'contact' %}">로그인</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'car_details' %}">내 정보</a></li>
                                        <li><a href="{% url 'blog_details' %}">즐겨찾기</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="header__nav__widget">
                            <div class="header__nav__widget__btn">
                                <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                            </div>
                            <a href="#" class="primary-btn">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <!--  수정  -->
                        <h2>전기차 모델</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->
    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title client-title">
                        <span>EV rank</span>
                        <h2>Best 9</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/model3_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/model3_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/model3_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/model3_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">판매량 1위</div>
                                        <h5 class="text5"><a href="#">{{ car_1.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_1.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_1.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_1.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_1.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_1.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_1.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/cona_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/cona_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/cona_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/cona_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">판매량 2위</div>
                                        <h5 class="text5"><a href="#">{{ car_2.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_2.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_2.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_2.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_2.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_2.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_2.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/niro_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/niro_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/niro_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/niro_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">판매량 3위</div>
                                        <h5 class="text5"><a href="#">{{ car_3.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_3.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_3.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_3.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_3.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_3.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_3.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/models_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/models_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/models_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/models_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">테슬라</div>
                                        <h5 class="text5"><a href="#">{{ car_4.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_4.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_4.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_4.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_4.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_4.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_4.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/ionic_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/ionic_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/ionic_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/ionic_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">현대</div>
                                        <h5 class="text5"><a href="#">{{ car_5.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_5.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_5.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_5.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_5.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_5.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_5.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/ssoul_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/ssoul_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/ssoul_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/ssoul_4.png' %}" alt="">
                                </div>
                               <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">기아</div>
                                        <h5 class="text5"><a href="#">{{ car_6.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_6.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_6.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_6.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_6.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_6.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_6.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/zoe_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/zoe_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/zoe_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/zoe_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">르노 삼성</div>
                                        <h5 class="text5"><a href="#">{{ car_7.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_7.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_7.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_7.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_7.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_7.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_7.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/bolt_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/bolt_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/bolt_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/bolt_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">GM</div>
                                        <h5 class="text5"><a href="#">{{ car_8.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_8.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_8.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_8.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_8.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_8.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_8.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    <img src="{% static 'img/cars/i3_1.png' %}" alt="">
                                    <img src="{% static 'img/cars/i3_2.png' %}" alt="">
                                    <img src="{% static 'img/cars/i3_3.png' %}" alt="">
                                    <img src="{% static 'img/cars/i3_4.png' %}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">BMW</div>
                                        <h5 class="text5"><a href="#">{{ car_9.name }}</a></h5>
                                        <ul>
                                            <li><span>✔ &nbsp;  1회 충전 주행거리 : &nbsp;{{ car_9.onedistance }} km </span></li>
                                            <li><span>✔ &nbsp;  충전방식 : &nbsp;{{ car_9.chargetype }} </span></li>
                                            <li><span>✔ &nbsp;  배터리 용량 : &nbsp;{{ car_9.battery }} kwh</span></li>
                                            <li><span>✔ &nbsp;  급속 충전시간 : &nbsp;{{ car_9.fastcharge }}</span></li>
                                            <li><span>✔ &nbsp;  완속 충전시간 : &nbsp;{{ car_9.slowcharge }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">가격</span>
                                        <h6>{{ car_9.price }} <span>만원</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Clients Begin -->
        <div class="clients spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title client-title">
                            <span>Electric vehicle</span>
                            <h2>Brand list</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="#" class="client__item">
                            <img class="logoimg" src="{% static 'img/cars/logo_tesla.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="#" class="client__item">
                            <img class="logoimg" src="{% static 'img/cars/logo_hyundai.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="#" class="client__item">
                            <img class="logoimg" src="{% static 'img/cars/logo_kia.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="#" class="client__item">
                            <img class="logoimg2" src="{% static 'img/cars/logo_samsung.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="#" class="client__item">
                            <img class="logobmw" src="{% static 'img/cars/logo_bmw.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="#" class="client__item">
                            <img class="logoimg2" src="{% static 'img/cars/logo_chevrolet.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- Clients End -->
    </section>
    <!-- Car Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>